$primary-color: #ffffff;
$dark-theme: #181818;
$white-theme: #ffffffc0;



body {
    margin: 0;
    background: $primary-color;
}

.hidden {
    display: none;
    visibility: hidden;
   
}

.toggle-switch {
    width: 30px;
    height: 10px;
    background-color: green;
}

.switch-box {
    position: absolute;
    right: 15px;
    padding-top: 15px;
    width: fit-content;
    // background: blue;
    
}

.switch {
    position: relative;
    // display: flex;
    // justify-content: flex-start;
    background: #fff;
    padding: 4px 30px;
    border-radius: 15px;
    justify-content: flex-start;
    box-shadow: 0px 0px 34px -3px rgba(0,0,0,0.1),inset 0px 10px 15px -3px rgba(0,0,0,0.1);

    & .switch-button {
        position: absolute;
        top: 0;
        left: 0;
        background: #CCC;
        border-radius: 15px;
        padding: 12px 15px;
        transition: 1s;
    }
}



input[type="checkbox"] {
    visibility: hidden;
}

.radio-button {
    display: inline-block; /* Display element as inline to align with text */
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    border-radius: 50%; /* Create a circular shape */
    border: 2px solid #ccc; /* Set unselected state border color */
    cursor: pointer; /* Indicate clickable element */
}
  
.switch-button.on {
    background: #CCC;
    margin-left: 30px;
    transition: 1s;
    // & .switch{
    //     background: red;
    // }
}

body.on {
    background: $dark-theme;
    transition: .5s;
    & h1,h2,p,ul,li {
        color: #fff;
    }
}


// Switch
.first-line.opened{
    transform: rotate(45deg) translate(0, 5px);

    transition: 1s;
}
.second-line.opened{
    transform: rotate(-45deg) translate(0, -5px);
    transition: 1s;
}

