

div {
    background: lightblue;
    & p {
      color: red;
  
      /* Override the inherited red color for strong tags within paragraphs */
      & strong {
        color:initial;  /* Use the inherited color from the parent element */
      }
    }
  }
  

